.firstSection {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;

    justify-content: space-around;
    align-items: center;

    background: linear-gradient(to bottom right, var(--blue-dark) 50%, var(--pink) 50%);
}
#divApresent {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 55rem;
}
#divApresent h1 {
    font-size: 6.5rem;
    font-family: 'Sono';
    font-weight: 600;
    
    color: white;
}
#divApresent p {
    font-size: 4rem;
    font-family: 'Open Sans';
    font-weight: 600;

    color: var(--pink);
}
#divApresent a {
    text-decoration: none;
}
#divApresent button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 50rem;
    height: 5rem;

    margin-top: 2rem;

    background: var(--pink);
    color: white;

    border: none;
    border-radius: 2rem;

    font-size: 3rem;
    font-family: 'Open Sans';
    font-weight: 700;
    text-decoration: none;
    
    cursor: pointer;
}

.line {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);

    font-family: 'Sono';
    font-size: 6.5rem;

    margin: 0 auto;

    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.type-animation {
    animation:
    cursor 500ms steps(28) infinite normal,
    type 2.5s steps(28) 1s normal both;
}

@keyframes type {
    from {
        width: 0;
    }

    to {
        width: 52.4rem;
    }
}

@keyframes cursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    to {
        border-right-color: transparent; 
    }
}

.gitHub {
    position: absolute;
    margin-top: 2.1rem;
    margin-left: -59.1rem;
    width: 25.5rem;
    height: 16.1rem;
}
.gitHubHide {
    display: none;
}

.gitHubProfile {
    position: absolute;
    width: 50.7rem;
    height: 31.9rem;
    margin-top: 2rem;
    margin-left: -59.2rem;
}
.arrow-back {
    position: absolute;
    margin-top: 23rem;
    margin-left: -56.1rem;
    
    width: 7rem;

    cursor: pointer;
}
.arrow-backHide {
    display: none;
}
.gitHubProfileHide {
    display: none;
}


.sobreMim {
    position: absolute;
    margin-top: 2.1rem;
    margin-left: -33.6rem;

    width: 25rem;
    height: 16.1rem;
}
.sobreMimHide {
    display: none;
}
.pageSobreMim {
    width: 50.5rem;
    height: 31.7rem;
    position: absolute;
    margin-top: 2.1rem;
    margin-left: -59.1rem;
}
.pageSobreMimHide {
    display: none;
}
.arrow-backObra {
    position: absolute;
    margin-top: 3rem;
    margin-left: -58rem;
    width: 5.5rem;
}
.arrow-backObraHide {
    display: none;
}


.cardHabilidades {
    position: absolute;
    margin-top: 18.2rem;
    margin-left: -59.1rem;

    width: 25.5rem;
    height: 15.6rem;
}
.cardHabilidadesHide {
    display: none;
}
.pageHabilidades {
    width: 50.5rem;
    height: 31.7rem;
    position: absolute;
    margin-top: 2.1rem;
    margin-left: -59.1rem;
}
.pageHabilidadesHide {
    display: none;
}





.cardProjetos {
    position: absolute;
    margin-top: 18.2rem;
    margin-left: -33.6rem;

    width: 25rem;
    height: 15.6rem;
}
.cardProjetosHide {
    display: none;
}
.pageProjetos {
    width: 50.5rem;
    height: 31.7rem;
    position: absolute;
    margin-top: 2.1rem;
    margin-left: -59.1rem;
}
.pageProjetosHide {
    display: none;
}