.firstSection {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;

    justify-content: space-around;
    align-items: center;

    background: linear-gradient(90deg,#050939 0%,#141a61 47.57%,#050939 93.19%);
    
}
#divApresent {
    display: flex;
    flex-direction: column;
    
    width: 55rem;
}
#divApresent h1 {
    font-size: 6.5rem;
    font-family: 'Sono';
    font-weight: 600;
    text-align: start;
    
    color: white;
}
#divApresent p {
    font-size: 4rem;
    font-family: 'Open Sans';
    font-weight: 600;
    text-align: start;
    color: var(--pink);
}
#divApresent a {
    text-decoration: none;
}
#divApresent button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 50rem;
    height: 5rem;

    margin-top: 2rem;

    background: var(--pink);
    color: white;

    border: none;
    border-radius: 2rem;

    font-size: 3rem;
    font-family: 'Open Sans';
    font-weight: 700;
    text-decoration: none;
    
    cursor: pointer;
}
#divApresent button:hover {
    filter: brightness(1.5);
}

.line {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);

    font-family: 'Sono';
    font-size: 6.5rem;

    margin: 0 auto;

    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.type-animation {
    animation:
    cursor 500ms steps(28) infinite normal,
    type 2.2s steps(28) 1s normal both;
}

@keyframes type {
    from {
        width: 0;
    }

    to {
        width: 52.4rem;
    }
}

@keyframes cursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    to {
        border-right-color: transparent; 
    }
}

